<!-- Featueres section -->

<div class="row justify-content-center text-center mt-lg-3">
    <div class="col-lg-4">      
        <img class="text-violet" src="{{ `images/hydration-tracking.png` | relURL }}" width="150" height="140" alt="Hydration Tracking">
        <h2 class="h2"> Hydration Tracking<small class="d-none">🛡️</small></h2>
        <p>Stay hydrated and healthy with our smart water bottle that tracks your daily water intake. 
            Integrated with a user-friendly app, it ensures you meet your hydration goals with ease, making 
            it perfect for health-conscious individuals and fitness enthusiasts alike.</p>
    </div>

    <div class="col-lg-4">
        <img class="text-violet" src="{{ `images/tempature-check.png` | relURL }}" width="150" height="135" alt="Tempature Maintenance">
        <h2 class="h2">Temperature Maintenance <small class="d-none">🚀</small></h2>
        <p> Enjoy your drink just the way you like it, hot or cold, for hours on end. This feature is designed 
            for outdoor enthusiasts and anyone living in extreme climates, ensuring your water stays at the ideal 
            temperature throughout your day. </p>
    </div>

    <div class="col-lg-4">
        <img class="text-violet" src="{{ `images/sustainable-materials.png` | relURL }}" width="140" height="125" alt="Sustainable Mateirals">
        <h2 class="h2">Sustainable Materials <small class="d-none">📈</small></h2>
        <p> Crafted from sustainable materials, our water bottle reduces your carbon footprint while keeping you hydrated.
           Perfect for environmentally aware consumers, it's a choice that supports your health and the planet.
        </p>
    </div>
</div>

<div class="row justify-content-center text-center mt-lg-3">
    <div class="col-lg-4">
        <h2 class="h2">  Water Quality Analysis
            <small class="d-none">🦉</small></h2>
        <p> Ensure your drinking water is always safe with our built-in TDS meter that analyzes water quality in real-time. 
            Ideal for parents and frequent travelers, this feature provides peace of mind by verifying your water is free of 
            contaminants, wherever you fill up.</p>
    </div>

    <div class="col-lg-4">
        <h2 class="h2">Health App Integration <small class="d-none">✨</small></h2>
        <p>Sync your hydration data with your favorite health apps to get a comprehensive view of your wellness. 
            Technology enthusiasts and users with a busy schedule will appreciate how it seamlessly integrates into
             your health ecosystem, making hydration tracking a breeze.</p>
    </div>

    <div class="col-lg-4">
        <h2 class="h2"> Customizable Designs <small class="d-none">🧰</small></h2>
        <p>Make your water bottle uniquely yours with customizable skins and designs. 
            Whether you're a teenager looking for personal expression or a gift shopper seeking a unique present, 
            our range of designs caters to every taste and occasion.
        </p>
    </div>
</div>
